<h1>{{title | uppercase}}</h1>   
<h1>{{title | lowercase}}</h1>
<h1>{{title | titlecase}}</h1>

<h1>{{per | percent:'1.2-2'}}</h1>

<h2>{{ rupay | currency:'INR' }}</h2>

<p>fullDate : {{toDate | date:'fullDate'}} </p>
<p>longDate : {{toDate | date:'longDate'}} </p>
<p>mediumDate : {{toDate | date:'mediumDate'}} </p>
<p>shortDate : {{toDate | date:'shortDate'}} </p>
<p>mediumTime : {{toDate | date:'mediumTime'}} </p>
<p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
<p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>


<h3>{{title | slice: 5:10 }}</h3>

<p>{{date}}</p>

